[submodule "imgui"]
	path = dependencies/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "sfml"]
	path = dependencies/sfml
	url = git@github.com:sfml/sfml.git
[submodule "imgui-sfml"]
	path = dependencies/imgui-sfml
	url = git@github.com:SFML/imgui-sfml.git
[submodule "dependencies/tinyfd"]
	path = dependencies/tinyfd
	url = http://git.code.sf.net/p/tinyfiledialogs/code
