[submodule "imgui"]
	path = dependencies/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "sfml"]
	path = dependencies/sfml
	url = git@github.com:sfml/sfml.git
[submodule "imgui-sfml"]
	path = dependencies/imgui-sfml
	url = git@github.com:SFML/imgui-sfml.git
[submodule "nfd"]
	path = dependencies/nfd
	url = git@github.com:btzy/nativefiledialog-extended.git
