/*
.primary_ = #FAF8E8 ;       // pale yellow
.secondary_ = #3E4348 ;     // dark grayish blue
.tertiary_ = #468C4D ;      // dark lime green
.background_ = #1D1D26 ;    // very dark gray
*/

mytec--palette_tab QLabel {
    color: #bbb;
    font-family: monospace;
    qproperty-alignment: AlignCenter;
}

mytec--palette_tab QLabel#groupLabel {
    qproperty-alignment: AlignLeft;
}